/* line 12, producthunt/static/css/sass.scss */
body {
  font: 100% #333333 Helvetica, sans-serif;
  background-color: #fafafa; }
  /* line 17, producthunt/static/css/sass.scss */
  body .navbar h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  /* line 27, producthunt/static/css/sass.scss */
  body .row .panel-group {
    display: inline-flex;
    padding: 5px; }
    /* line 31, producthunt/static/css/sass.scss */
    body .row .panel-group .vote {
      display: inline-flex; }
