<html>
<head>
  <title>Product Hunt Django</title>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %} " />
</head>
<body>
<h1>Product Hunt (Built in Django!)</h1>

{% block content %}
{% endblock %}

<footer>
  <p>
    <a href="{% url 'home' %}">Home</a> |
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a> |
      <a href="{% url 'profile' slug=user.username %}"<strong>My Profile</strong></a> |
      <a href="{% url 'link_submit' %}">Submit Link</a>
{% else %}
    <a href="{% url 'registration_register' %}">Register</a>
{% endif %}
  </p>
</footer>
</body>
</html>
