<!DOCTYPE html>
<html lang="en">
<head>
  <title>Product Hunt Django</title>
    {% load static %}
    {% load compress %}
    {# Load the tag library #}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Load the tag library #}
   <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %} " /> -->
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static '/css/sass.scss' %}" />
    {% endcompress %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class=navbar navbar-static-top>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">Product Hunt <small class="text-muted">(Built in Django!)</small></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                     <li><a class="btn btn-primary" role="button" href="{% url 'link_submit' %}">Submit Link</a></li>
                     <li><a href="{% url 'profile' slug=user.username %}"<strong>My Profile</strong></a></li>
                     <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
             </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>

    </footer>
</body>
</html>
